
.mljar-variable-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.mljar-variable-header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 8px;
  margin-right: 8px;
  border-bottom: 2px solid #ddd;
}


.mljar-variable-header {
  font-size: 0.85rem;
  font-weight: 700;
  color: var(--jp-ui-font-color1);
  text-align: left;
  padding-bottom: 8px;
  margin: 0;
}


.mljar-sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}


.mljar-variable-header-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1rem;
  align-items: center;
  font-size: 0.85rem;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--jp-layout-color0);
  background-color: #0099cc;
  color: #fff;
}


.mljar-variable-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.package-list-container {
  flex: 1;
  overflow-y: hidden;
  padding-right: 10px;
}

.mljar-search-bar-container {
  margin-bottom: 10px;
  background-color: lightblue;
  margin-right: 10px;
}

.mljar-search-bar-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  background-color: var(--jp-layout-color1);
  color: var(--jp-ui-font-color1);
  border: 1px solid var(--jp-border-color2);
}



.mljar-package-item.active .mljar-package-name,
.mljar-package-item.active .mljar-package-version {
  color: #fff;
}


.mljar-package-item:hover {
  background-color: var(--jp-layout-color2);
  cursor: pointer;
}

.mljar-package-item.active {
  background-color: var(--jp-brand-color1);
  color: var(--jp-ui-inverse-font-color1);
}

.mljar-variable-item {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 2rem;
  align-items: center;
  column-gap: 1rem;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid var(--jp-border-color2);
  margin-bottom: 0px;
  margin-right: 0px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--jp-layout-color0);
  font-size: 0.7rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.mljar-variable-name,
.mljar-variable-type
.mljar-variable-shape{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

